Source: trng
Priority: optional
Maintainer: Joseph Malicki <jmalicki@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/trng.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/trng.git;a=summary

Package: trng-dev
Section: libdevel
Architecture: any
Depends: trngBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: trng1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
